body{
    
    background-image: url('images/start.jpg');
    font-family: 'Times New Roman', Times, serif;
}

.container, .container-button{
    width: 90%;
    height: 600px;
    background-color: wheat;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;

    text-align: center;
    outline-style: double;
    outline-width: 10px;
    outline-color: yellowgreen;
    
}

.opt{
    width: 25 px;
    height: 50 px;
    background-color: burlywood;
    outline-color: chartreuse;
    outline-style: double;
    outline-width: 10 px;

}
.container-button{
    width: 80%;
    height: 30px;
}
#title{
    width: 500px;
    height: 50px;
}

#Hist, #Geo {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }

.inputbox, .displaybox{

    border: 1px solid black;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    float: left;
}

.inputbox{
    width: 20%;
    height: 80%;

}

.displaybox{
    width: 40%;
    height: 80%;
}

.answer{
    width: 100%;
    height: 45%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-image:linear-gradient(burlywood,rgb(46, 217, 208));
    opacity: 100%;

}

.scoreboard{
    height: 10%;
    

}